1.Project planning: 
    import library
    collect data
    feature selection for the model(here, we extract only the Adj Close set to calculate ema and renamed it with Close)
    define an function, to compute returns and ema_value between(1 to 50, excluding 50) 
    Compare the returns with the respective ema_values
    At last the computing max returns with the respective ema_value
    
    
2.Data Collection: Import library. Scrap data from yfinance
    
    
3.Data Cleaning: Features selection.
    
    
4.Exploratory Data Analysis:max_returns v/s ema
                            Analysizing, for a particular data sets which ema value gives max_returns
        
        
5.Model Building: 1.define a function optimizing_ema with attribute ema.
                  2.Calculate %change in close_price
                  3.define ema 
                  4.replace all the positions where close>ema with 1, otherwise 0.
                  5.calculated returns. Returns=%change in returns * positions.shift(1)
                  6. calculated the output
                  7.define an ema range from 1 to 50
                  8.create an empty list to store every ema ranging between 1 to 50
                
                
6.Model productionization:Max_returns with respect to given ema_values

In [19]:
#import libraries
import pandas as pd

import yfinance as yf

In [20]:
df=yf.download(tickers='NFLX', start='2020-1-5', end='2021-1-5')
df.head()

[*********************100%***********************]  1 of 1 downloaded

              Open    High     Low   Close  Adj Close   Volume
Date
2020-01-06  323.12  336.36  321.20  335.83     335.83  5663100
2020-01-07  336.47  336.70  330.30  330.75     330.75  4703200
2020-01-08  331.49  342.70  331.05  339.26     339.26  7104500
2020-01-09  342.00  343.42  334.61  335.66     335.66  4709300
2020-01-10  337.13  338.50  327.27  329.05     329.05  4718300

In [21]:
df.drop(['Open', 'High', 'Low', 'Close', 'Volume'], axis = 1, inplace = True)

df.head()

            Adj Close
Date
2020-01-06     335.83
2020-01-07     330.75
2020-01-08     339.26
2020-01-09     335.66
2020-01-10     329.05

In [22]:
df.rename(columns = {'Adj Close':'Close'}, inplace = True)
df

             Close
Date
2020-01-06  335.83
2020-01-07  330.75
2020-01-08  339.26
2020-01-09  335.66
2020-01-10  329.05
2020-01-13  338.92
2020-01-14  338.69
2020-01-15  339.07
2020-01-16  338.62
2020-01-17  339.67
2020-01-21  338.11
2020-01-22  326.00
2020-01-23  349.60
2020-01-24  353.16
2020-01-27  342.88
2020-01-28  348.52
2020-01-29  343.16
2020-01-30  347.74
2020-01-31  345.09
2020-02-03  358.00
2020-02-04  369.01
2020-02-05  369.67
2020-02-06  366.95
2020-02-07  366.77
2020-02-10  371.07
2020-02-11  373.69
2020-02-12  380.01
2020-02-13  381.40
2020-02-14  380.40
2020-02-18  387.78
...            ...
2020-11-19  484.67
2020-11-20  488.24
2020-11-23  476.62
2020-11-24  482.88
2020-11-25  485.00
2020-11-27  491.36
2020-11-30  490.70
2020-12-01  504.58
2020-12-02  503.38
2020-12-03  497.52
2020-12-04  498.31
2020-12-07  515.78
2020-12-08  512.66
2020-12-09  493.60
2020-12-10  501.09
2020-12-11  503.22
2020-12-14  522.42
2020-12-15  519.78
2020-12-16  524.83
2020-12-17  532.90
2020-12-18  534.45
2020-12-21  528.91
2020-12-22  527.33
2020-12-23  514.48
2020-12-24  513.97
2020-12-28  519.12
2020-12-29  530.87
2020-12-30  524.59
2020-12-31  540.73
2021-01-04  522.86

[252 rows x 1 columns]

In [23]:
df.describe()

            Close
count  252.000000
mean   448.073175
std     65.044812
min    298.840000
25%    383.192500
50%    470.350000
75%    497.092500
max    556.550000

In [29]:
def optimizing_ema(ema):
    
    #preparing for vectorization
    df['cc_returns']=df['Close'].pct_change()
    df['ema']=df['Close'].ewm(span=ema, adjust=False).mean()
    
    #positions where Adj_close > ema
    df['positions']=np.where((df['Close']> df['ema']), 1, 0)
    df['positions']=df['positions'].shift(1)
    
    #calculating returns
    df['returns']=df['cc_returns']*df['positions']
    df['returns']=(1+df['returns']).cumprod()
    
    #output
    return float(df['returns'].iloc[-1]),ema

In [30]:
ema_values=range(1, 50)
returns_vs_ema=[]

for i in ema_values:
    returns_vs_ema.append(optimizing_ema(i))

In [31]:
returns_vs_ema

[(1.0, 1),
 (0.8202497677761117, 2),
 (0.8401772634697976, 3),
 (0.9540683068063472, 4),
 (0.965031744420972, 5),
 (1.030116117847647, 6),
 (1.1684006990414841, 7),
 (1.2218322541311186, 8),
 (1.193366209824396, 9),
 (1.1009436148905982, 10),
 (1.0832356050379115, 11),
 (1.0534519420563733, 12),
 (1.0398164113833863, 13),
 (1.1436903917334043, 14),
 (1.1255630177618723, 15),
 (1.0470349434718633, 16),
 (1.022973267828009, 17),
 (0.9938144783848627, 18),
 (1.0037725392905226, 19),
 (1.0081400226508594, 20),
 (1.036725519134166, 21),
 (1.07375611444518, 22),
 (1.0382875878561186, 23),
 (1.0743801621493663, 24),
 (1.0230277717411813, 25),
 (1.0295138267781576, 26),
 (0.9667892940899353, 27),
 (0.9427564558475299, 28),
 (0.9427564558475299, 29),
 (0.9313076495143252, 30),
 (0.9607714361156737, 31),
 (0.9607714361156737, 32),
 (0.9433761384122266, 33),
 (0.9694074243399738, 34),
 (0.9752330437290936, 35),
 (0.9744137210382533, 36),
 (1.0201476969599148, 37),
 (1.0395708289211765, 38),
 (1.0041929892593087, 39),
 (1.007009478020658, 40),
 (1.007009478020658, 41),
 (0.9677107615110048, 42),
 (0.9796563677480423, 43),
 (0.997066961218915, 44),
 (0.978292849577838, 45),
 (0.9931764167794747, 46),
 (1.005808955375347, 47),
 (0.9490163868829804, 48),
 (0.9490163868829804, 49)]

In [32]:
max(returns_vs_ema)

(1.2218322541311186, 8)

In [ ]:
The max_return with respect to ema_value(8) is 1.22.